<title><%= t "static_pages.home.title_web" %></title>
<div class="header-bg">
  <div class="wrap">
    <div class="h-bg">
      <div class="total">
        <div class="header">
          <div class="header-right">
            <ul class="follow_icon">
              <li>
                <a href="#">
                  <%= image_tag("image/co-nb.png", alt: t(".title image")) %></a>
              </li>
              <li>
                <a href="#">
                  <%= image_tag("image/lo-pn.png",  alt: t(".title image") %></a>
              </li>
            </ul>
          </div>
          <div class="clear"></div>
          <div class="header-bot">
            <div class="logo">
              <a href="#">
                <%= image_tag("image/logo.png") %>
              </a>
            </div>
            <div class="search">
              <input type="text" class="textbox" value=""
                onfocus="this.value = '';" onblur="this.value == '';">
              <button class="gray-button"><span><%= t ".search" %></span>
              </button>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div class="menu">
            <div class="top-nav">
              <ul>
                <li class="#">
                  <%= link_to t(".home"), "#" %>
                </li>
                <li>
                  <%= link_to t(".product"), "#" %>
                </li>
                <li>
                  <%= link_to t(".sale"), "#" %>
                </li>
                <li>
                  <%= link_to t(".contact"), "#" %>
                </li>
              </ul>
            <div class="clear"></div>
          </div>
        </div>
        <div class="banner-top">
          <div class="header-bottom">
            <div class="header_bottom_right_images">
              <div class="content-wrapper">
                <div class="content-top">
                  <div class="box_wrapper">
                    <h1><%= t(".Sản Phẩm Mới nhất")%></h1>
                  </div>
                  <div class="text">
                    <div class="grid_1_of_3 images_1_of_3">
                      <div class="grid_1">
                        <a href="single.html">
                          <%= image_tag("image/sanpham.jpg") %>
                        </a>
                        <div class="grid_desc">
                          <p class="title"><%= t ".content" %></p>
                          <p class="title1">
                            <%= t ".content" %>
                            <%= t ".content1" %>
                            <%= t  ".kich_thuoc" %>,
                            <%= t ".content2" %>
                          </p>
                          <div class="price" style="height: 19px;">
                            <span class="reducedfrom"><%= t ".gia" %></span>
                            <span class="actual"><%= t ".gia1" %></span>
                          </div>
                          <div class="cart-button">
                            <div class="cart">
                              <a href="#">
                                <%= image_tag("image/cart.png") %>
                              </a>
                            </div>
                            <button class="button"><span><%= t ".details" %></span>
                            </button>
                            <div class="clear"></div>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="grid_1_of_3 images_1_of_3">
                      <div class="grid_1">
                        <a href="single.html">
                          <%= image_tag("image/sanpham.jpg") %>
                        </a>
                        <div class="grid_desc">
                          <p class="title"><%= t ".content" %></p>
                          <p class="title1">
                            <%= t ".content" %>
                            <%= t ".content1"  %>
                            <%= t ".kich_thuoc"  %>,
                            <%= t ".content2" %>
                          </p>
                          <div class="price" style="height: 19px;">
                            <span class="reducedfrom"><%= t ".gia" %></span>
                            <span class="actual"><%= t ".gia1" %></span>
                          </div>
                          <div class="cart-button">
                            <div class="cart">
                              <a href="#">
                                <%= image_tag("image/cart.png") %>
                              </a>
                            </div>
                            <button class="button"><span><%= t ".details" %></span>
                            </button>
                            <div class="clear"></div>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="grid_1_of_3 images_1_of_3">
                      <div class="grid_1">
                        <a href="single.html">
                          <%= image_tag("image/sanpham.jpg") %>
                        </a>
                        <div class="grid_desc">
                          <p class="title"><%= t ".content" %></p>
                          <p class="title1">
                            <%= t ".content" %>
                            <%= t ".content1" %>
                            <%= t ".kich_thuoc" %>,
                            <%= t ".content2" %>
                          </p>
                          <div class="price" style="height: 19px;">
                            <span class="reducedfrom"><%= t ".gia" %></span>
                            <span class="actual"><%= t ".gia1" %></span>
                          </div>
                          <div class="cart-button">
                            <div class="cart">
                              <a href="#">
                                <%= image_tag("image/cart.png") %>
                              </a>
                            </div>
                            <button class="button"><span><%= t ".details" %></span>
                            </button>
                            <div class="clear"></div>
                          </div>
                        </div>
                      </div>
                      <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>s
  </div>
</div>

