<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body>
    <div class="wrapper">
      <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
          <div class="container-fluid">
            <div class="navbar-header"> 
              <a class="navbar-brand" href="#">Dashboard</a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-left">
                <li>
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-dashboard"></i>
                    <p class="hidden-lg hidden-md">Dashboard</p>
                  </a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="">
                    <p>Account</p>
                  </a>
                </li>
                 <% if current_user.admin? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <p>
                      Admin
                      <b class="caret"></b>
                    </p>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%=link_to t( ".product"), new_admin_product_path %>
                    </li>
                    <li>
                      <%=link_to t( ".user"), admin_users_path %>
                    </li>
                    <li>
                      <%=link_to t( ".category"), admin_categories_path %>
                    </li>
                  </ul>
                </li>
                <% end %>
                <% if logged_in? %>
                  <li>
                    <%=link_to "Log out", logout_path, method: :delete %>
                  </li>
                  </li>
                  <% end %>
                    <li class="separator hidden-lg hidden-md"></li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-10">
                <div class="card">
                  <div class="header">
                    <h4 class="title"><%= t ".new_product" %></h4>
                  </div>
                  <div class="content">
                      <%= form_for [:admin, @product], :html => {:multipart => true} do |f| %>
                      <div class="row">
                        <div class="col-md-8">
                          <div class="form-group">
                            <%= f.label :name %>
                            <%= f.text_field :name, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <%= f.label :price %>
                            <%= f.text_field :price, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="form-group">
                            <%= f.label :comment %>
                            <%= f.text_field :comment, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <%= f.label :discount %>
                            <%= f.text_field :discount, class: "form-control" %>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <div class="dropzone" id="image-upload">
                              <%= f.label :image %>
                              <%= f.file_field :image, class: "form-control" %>
                            </div>
                          </div>
                        </div>
                      </div>
                      <%= f.submit t(".create_product"), class: "btn btn-primary" %>
                      <div class="clearfix"></div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
