<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="assets/img/sidebar-5.jpg">
    <div class="sidebar-wrapper">
      <div class="logo">
        <%= link_to t.(".title"), t "link_to" %>
      </div>
      <ul class="nav">
        <li class="active">
          <%= link_to t(".user"), admin_users_path %>
          <i class="pe-7s-user"></i>
        </li>
        <li class="active">
          <%= link_to t(".product"), admin_products_path %>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <nav class="navbar navbar-default navbar-fixed">
      <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
              data-toggle="collapse" data-target="#navigation-example-2">
              <span class="sr-only"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= t ".user" %></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <p><%= link_to t ".account" %></p>
            </li>
            <% if logged_in? %>
              <li><%= link_to t(".users"), "#" %></li>
              <ul class="dropdown">
                <li><%= link_to t(".profile"), edit_user_path(current_user) %></li>
                <li><%= link_to t(".logout"), logout_path, method: :delete %></li>
              </ul>
            <% else %>
              <li><%= link_to t(".login"), login_path %></li>
            <% end %>
            <li class="separator hidden-lg hidden-md"></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <section class="user_info">
              <table class="table table-striped">
                <tr>
                  <td><h3><%= t ".id" %></h3></td>
                  <td><h3><%= t ".name" %></h3></td>
                  <td><h3><%= t ".price" %></h3></td>
                  <td><h3><%= t ".comment" %></h3></td>
                  <td><h3><%= t ".image_link" %></h3></td>
                  <td><h3><%= t ".edit" %></h3></td>
                  <td><h3><%= t ".delete" %></h3></td>
                  <td><h3><%= t ".back" %></h3></td>
                </tr>
                <tr>
                  <td>
                    <%= @product.id %>
                  </td>
                  <td>
                     <%= @product.name %>
                  </td>
                  <td>
                    <%= @product.price %>
                  </td>
                  <td>
                    <%= @product.comment %>
                  </td>
                  <td >
                    <%= image_tag @product.image.thumb.url %>
                  </td>
                  <td><%= link_to t(".edit"), edit_product_path(@product) %></td>
                  <td><%= link_to t(".delete"), @product,
                    method: :delete, data:{confirm: t(".delete_message")} %></td>
                  <td><%= link_to t(".back"), admin_products_path %></td>
                </tr>
              </table>
            </section>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav class="pull-left">
          <ul>
            <li>
              <%= link_to t(".home"), "#" %>
            </li>
            <li>
              <%= link_to t(".company"), "#" %>
            </li>
            <li>
              <%= link_to t(".portfolio"), "#" %>
            </li>
            <li>
              <%= link_to t(".blog"), "#" %>
            </li>
          </ul>
        </nav>
        <p class="copyright pull-right">
          <%= link_to t(".creative_tim"), "#" %>
          <%= link_to t(".footer_container"), "#" %>
        </p>
      </div>
    </footer>
  </div>
</div>
