<div class="col-md-3 col-ms-6">
  <div class="single-product">
    <div class="product-f-image">
      <%= image_tag product.image, alt: t("product.image") %>
      <div class="product-hover">
        <% if product.quantity > 0 %>
          <%= link_to content_tag(:i, t("product.add_to_cart"), 
            class: "fa fa-shopping-cart"), 
            cart_items_path(product_id: product.id), 
            method: :post, class: "add-to-cart-link", remote: true,
            data: {confirm: t("confirm.add_to_cart")}
          %>
        <% end %>
        <%= link_to content_tag(:i, t("product.see_detail"), 
          class: "fa fa-link"), 
          "#", class: "view-details-link", remote: true %>
      </div>
    </div>
    <h2><%= link_to product.name, "#" %></h2>
    <div class="product-carousel-price">
      <ins><%= t "product.price", price: product.price %></ins>
    </div>
  </div>
</div>
