<div class="container-fluid">
  <nav class="pull-left">
    <ul>
      <li>
        <%= link_to t(".home") %>
      </li>
      <li>
        <%= link_to t(".company") %>
      </li>
      <li>
        <%= link_to t(".portfolio") %>
      </li>
      <li>
        <%= link_to t(".blog") %>
      </li>
    </ul>
  </nav>
  <p class="copyright pull-right">
    <%= link_to t(".creative_tim") %>
    <%= t".footer_container" %>
  </p>
</div>
