<!DOCTYPE html>
<html>
  <head>
    <title><%= t ".title" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <p>
      <%= link_to_unless I18n.locale == :en, t(".english"), locale: :en %>
      |
      <%= link_to_unless I18n.locale == :vn, t(".vietnam"), locale: :vn %>
    </p>

    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
